<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-bottom">
    <span class="navbar-brand">Stock Reports</span>
  </nav>
  <main role="main">

    {{outlet}}

  </main>

</div>
